doctype html
html
    head
    title Repositório de Recursos Didáticos
    link(rel='stylesheet', href='/stylesheets/style.css')
    block content
        h1 Registo
        form(action='/registar', method='POST')
            p
                | Username: 
                input(type='text', name='username', value='')
                | Email: 
                input(type='email', name='email', value='')
                | Password: 
                input(type='password', name='password', value='') 
                span.label 
                    b Estado: 
                    select(name='level')
                        option(value="admin") admin
                        option(value="consumer") consumer
                        option(value="producer") producer
            button(class='primary', value='Submit') Submeter
        adress 
            a(href="/") voltar para página de login